<style type="text/css">
    .newsletter-container {
      font-family: 'Sharp Grotesk', Helvetica, sans-serif;
      line-height: 1.3;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizelegibility;
      margin: 60px 0;
      padding: 40px 0;
      background: #222D;
      z-index: 9999;
      box-shadow: 0 24px 24px -8px #0003;
    }
    .newsletter.container {
      max-width: 1100px;
      padding: 0 20px;
      margin: 0 auto;
      align-items: center;
      display: flex;
      background: none;
    }
  .newsletter-text {
      flex: 1;
      color: white;
  }
  .newsletter-head {
    font-weight: 900;
    font-size: 30px;
    margin: 10px 0;
  }
  .newsletter-intro {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0;
  }
  .newsletter-link {
    margin: 30px 0;
    margin-left: 30px;
  }
  .newsletter-link a{
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    background: #0C71FA;
    padding: 10px 20px;
    box-shadow: none;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
  }
  </style>
  
  
  <div class="newsletter-container">
    <div class="newsletter container">
      <div class="newsletter-text">
        <h3 class="newsletter-head">Get THE CITY Scoop</h3>
        <p class="newsletter-intro">Sign up and get the latest stories from THE CITY delivered to you each morning</p>
      </div>
      <div class="newsletter-link">
        <a href="https://nyc.us20.list-manage.com/subscribe?u=73d98c6dfc90032198ec7bdee&amp;id=aa6c8f62b7">Subscribe</a>
      </div>
    </div>
  </div>
