<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", archieml.story.metadata) %>

    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <nav class="nav">
      <div class="nav-container">
        <div class="nav-logo">
          <a href="https://thecity.nyc/"><%=  t.include("assets/logo.svg") %></a>
        </div>
        <div class="nav-title"></div>
        <div class="nav-links">
          <a href="https://thecity.nyc/donate">Donate</a>
        </div>
      </div>
    </nav>
    <main>
      <% for (var slide of archieml.story.slides) { %>
        <%= t.include(`_${slide.type || "image"}.html`, { slide }) %>
      <% } %>

    </main>


    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>